.item-light-theme{
    --bgcolvar: black;
    --bgbackvar:white;
}
.item-dark-theme{
   --bgcolvar: white;
   --bgbackvar:black;
}

.expense-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px rgb(19, 105, 30);
    background-color: var(--bgbackvar);
    margin: 15px 5px;
    border: 0.1px solid ;
}

.expense-item__discription{
    display: flex;
    flex-direction: row;
    gap:1rem;
    /* align-items: flex-end; */
    flex-flow: column-reverse;
    justify-content: flex-start;
    margin: 0px 20px;
    font-size: 14px;
    flex: 1;
    color: var(--bgcolvar);
    
}
.expense-item__price{
    color: var(--bgcolvar);
    padding: 0.5rem;
    border: 2px solid var(--bgcolvar);
    background-color: var(--bgbackvar);
    font-size: 16px;
    padding: 3px 18px;
    font-weight: bold;
    margin-right: 10px;
}
.deletebtn{
    background-color: var(--bgbackvar);
    color: red;
    font-size: 22px;
    font-weight: bold;
    border: none;
    margin: 5px;
    padding: 0px;
    cursor: pointer;
}
