.filter-expenses{
   
   
    padding: 2px 1px;
    /* background-color: rgba(133, 58, 204, 0.745); */
    height: 2px;
    margin-bottom: 34px !important;
   
    
}

.filter-field{
  width: 100%;
 
  
}