.expense-form{
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    color: rgb(243, 219, 185);
    

}
.expense-form-input{
    display: flex;
    flex-direction: column;
    width:45% ;
    margin: 8px ;
   
    
   
    
}
.expense-form-label{
    font-family:inherit;
    font-weight: bold;
    margin: 5px;
}
.expense-form-button{
    text-align: right; 
   
    
}
.btn{
    cursor: pointer;
    font-size: 35px;
    color: rgb(3, 3, 3);
    padding: 0px !important;
}
.input-field{
    height:35px;
    font-family: inherit;
    font-size: 17px; 
    font-weight: bold;   
    border-radius: 6px;
    outline: none;
    border: none;
}
.required{
font-family: inherit;
color:rgb(255, 0, 0);
}

input:focus{
   background-color: rgb(235, 221, 248);
}
